{% extends 'main/home.html' %}

{% block content %}
        <div class="card  border border-info">

            <div class="card-header bg-info text-center p-2 text-white">
                <h3> Create New List</h3>
            </div>

            <div class="card-body">
                
                <form action="" method="post" class="form-horizontal" enctype="multipart/form-data">                    
                    {% csrf_token %}
                    <div class="row border border-primary justify-content-center">
                        <div class="col-sm-6 border border-danger p-2 m-2">
                            {{form.as_p}}
                        </div>
                        
                    </div>
                    
                    <!-- {% include 'main/form_template.html' %} -->

                    <div class="form-group mb-3 px-5">                            
                        <button type="submit" name="save" class="btn btn-lg btn-info btn-block">Submit</button>                                
                    </div>                        
                </form>

            </div>
    
        </div>
    
    

{% endblock %}